<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small> Donals McGlynn's NCI Web Development Project in Nodejs &trade;</small>
    </div>
  </footer>