<% include ../partials/adminheader %>
    <div class="row"><br>
<div class="container">    
      <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Xbox One</div>
        <div class="panel-body"><image src="https://cdn.vox-cdn.com/thumbor/_4-v-hkd4L9hIVSrJSp2seMTeKo=/0x0:950x623/920x613/filters:focal(399x236:551x388):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/60988327/Xbox_One_X_Screenshot_05.0.jpg" class="img-responsive" style="width:350px height:200px" alt="Image"></div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">Playstation 4</div>
        <div class="panel-body"><img src="https://media.wired.com/photos/5a99f809b4bf6c3e4d405abc/master/w_582,c_limit/PS4-Pro-SOURCE-Sony.jpg" class="img-responsive" style="width:350px height:200px" alt="Image"></div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">Nintendo Switch</div>
        <div class="panel-body"><img src="https://cdn.vox-cdn.com/thumbor/CLIuKaZlZzHjpNPhbHXjglns_28=/0x0:3400x2200/920x613/filters:focal(1428x828:1972x1372):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/63024232/SWITCH_Bundle_front_1.0.jpg" class="img-responsive" style="width:350px height:200px" alt="Image"></div>
      </div>
    </div>
</div>
<footer class="container-fluid text-center">
</footer>

</body>
</html>

<% include ../partials/footer %>
   
</body>
    
</html>