<% include ../partials/header %>
    <h1>Edit User Information</h1>
     <div class="row"><br>
  <div class="grid-container">
      <% res1.forEach(function(user) { %>
         <form accept-charset="UTF-8" action="/editprofile/ <%= user.Id %>" method="post">
             <div class="item">
                 <label for="name">Name:</label>
                 <input name="name" type="text" value="<%= user.name %>"  required/>
                 
                 <label for="address">Address:</label>
                 <input name="address" type="text" value="<%= user.address %>"  required/>
                 
                 <label for="email">Email:</label>
                 <input name="email" type="text" value="<%= user.email %>"  required/>
                 
                <button class="button">Submit</button>
         </div>
         </form>   
    </div>
  <% }); %>
</div>
<% include ../partials/footer %>
</body>
</html>