<% include ../partials/header2 %>

      <div class="panel panel-success">
        <div class="panel-heading"><h2> Your Enquiry has been sent, we will contact you soon!</h2></div>
      </div>
    </div>
</div>
<footer class="container-fluid text-center">
</footer>
<% include ../partials/footer %>
</body>
</html>